<ion-header>
  <ion-toolbar>
        <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>K - Drama</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-text color="tertiary">
    <h1><b>Beautiful World</b></h1>
  </ion-text>
  </ion-list>
  <img src="/assets/images/beautiful.jpg">
  <h2><b>Profile</b></h2>
  <ion-list>
    <ul>
      <li>
        <b>Drama: </b>Beautiful World (literal title)</li>
      <li>
        <b>Revised Romanization: </b>Areumdawoon Sesang</li>
      <li>
        <b>Hangul: </b>아름다운 세상</li>
      <li>
        <b>Director:</b> Park Chan-Hong</li>
      <li>
        <b>Writer:</b>Kim Ji-Woo</li>
      <li>
        <b>Network:</b>JTBC</li>
      <li>
        <b>Episodes:</b> 16</li>
      <li>
        <b>Release Date:</b> April 5, 2019</li>
    </ul>
  </ion-list>
  <ion-text>
    <h2><b>Synopsis by KOREABOO</b></h2>
    <div class="ion-text-justify">
      <p>Park Moo-Jin (Park Hee-Soon) and Kang In-Ha (Choo Ja-Hyun) are a married couple. Park Moo-Jin works as a high school
        teacher and Kang In-Ha runs a bakery. They enjoy their lives with their children. Their peaceful days soon turn into
        a hellish experience. Their son, who is in the 3rd grade of middle school, is seriously injured due to school violence.
        Park Moo-Jin and Kang In-Ha try to reveal the truth. Meanwhile, Oh Jin-Pyo (Oh Man-Seok) and Seo Eun-Joo (Cho Yeo-Jeong)
        are a married couple. They are both from wealthy families. Oh Jin-Pyo is the chairman of a private school foundation
        inherited from his family. They have never experienced failure or lacked anything. They have a son who makes trouble.
        The parents coverup for their son's misbehavior. </p>
    </div>
  </ion-text>
  <ion-text>
    <h2><b>Cast</b></h2>
    <ion-list>
      <ul>
        <p>Choo Ja-Hyun as Kang In-Ha</p>
        <p>Park Hee-Soon as Park Moo-Jin</p>
        <p>Nam Da-Reum as Park Sun-Ho</p>
        <p>K im Hwan-Hee as Park Soo-Ho</p>
        <p>Lee Chung-Ah as Kang Joon-Ha</p>
      </ul>
    </ion-list>
  </ion-text>
</ion-content>