<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start" (click)="goHome()">
      <ion-button>
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>K-Drama</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-text>
    <h1><b>Welcome to Waikiki</b></h1>
  </ion-text>
  <img src="/assets/images/drama/waikiki.jpg">
  <h2><b>Profile</b></h2>
  <ul>
    <li>
      <b>Drama: </b>Welcome to Waikiki</li>
    <li>
      <b>Revised Romanization: </b>Eulachacha Waikiki</li>
    <li>
      <b>Hangul: </b>으라차차 와이키키</li>
    <li>
      <b>Director: </b>Lee Chang-Min</li>
    <li>
      <b>Writer: </b>Kim Ki-Ho, Song Ji-Eun, Song Mi-So</li>
    <li>
      <b>Network: </b>JTBC</li>
    <li>
      <b>Episodes: </b>20</li>
    <li>
      <b>Release Date: </b>February 5 - April 17, 2018</li>
  </ul>
  <ion-text>
    <h2><b>Synopsis by KOREABOO</b></h2>
    <div class="ion-text-left">
      <p>Kang Dong-Goo (Kim Jung-Hyun) dreams of becoming a movie director, but he is cynical due to bad luck. Cheon
        Joon-Ki (Lee Yi-Kyung) wanted to follow in his father's footsteps and become an actor, but he is now just a
        minor actor. Bong-Doo-Sik (Son Seung-Won) came to Seoul to become a scenario writer, but things have not been
        easy for him.
      </p>
      <p>These 3 men run the guest house Waikiki in Itaewon, South Korea. Their guest house is facing bankruptcy and
        then a mysterious baby and single mother appear at Waikiki.</p>
    </div>
  </ion-text>
  <ion-text>
    <h2><b>Cast</b></h2>
    <ul>
      <p>Kim Jung-Hyun as Kang Dong-Goo</p>
      <p>Lee Yi-Kyung as Lee Joon-Ki</p>
      <p>Son Seung-Won as Bong-Doo-Sik</p>
      <p>Jung In-Sun as Han Yoon-A</p>
      <p>Go Won-Hee as Kang Seo-Jin</p>
      <p>Lee Joo-Woo as Min Soo-A</p>
    </ul>
  </ion-text>
</ion-content>