<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start" (click)="goHomePop()">
      <ion-button>
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>K-Pop</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark" padding>
  <h1><b>Red Velvet</b></h1>
  <img src="/assets/images/music/rv/rvmain.jpeg">
  <h2><b>Introduction to Red Velvet</b></h2>
  <div class="ion-text-left">
    <p>
      Red Velvet is a girl group composed of 5 members formed by S.M. Entertainment. The group debuted on August 1,
      2014, with their digital single "Happiness". In March 2015 Red velvet added a 5th member to the group, Yeri.
    </p>
  </div>
  <ul>
    <li><b>Agency: </b>SM Entertainment</li>
    <li><b>Debut: </b>Aug 1, 2014</li>
    <li><b>Years Active: </b>2014-current</li>
    <li><b>Most Popular Member: </b>Irene</li>
    <li><b>Fandom: </b>ReVeluv</li>
  </ul>
  <h2><b>Members</b></h2>
  <div class="ion-text-left">
    <h4><b>Seulgi</b></h4>
    <img src="/assets/images/music/rv/seulgi.jpeg">
    <p>Seulgi (Korean name: Kang Seul-gi; Hangul: 강슬기, born on February 10, 1994) is a South-Korean singer and dancer. She is the lead vocalist, the main dancer, and known as the face of the South-Korean girl group Red Velvet.</p>
    <ul>
      <li><b>Height: </b>5'4" (162cm)</li>
      <li><b>Date of Birth: </b>25 years old, born February 10, 1994</li>
      <li><b>Blood Type: </b>A</li>
      <li><b>Position: </b>Lead Vocal, Main Dancer</li>
    </ul>

    <h4><b>Irene</b></h4>
    <img src="/assets/images/music/rv/irene.jpeg">
    <p>Bae Ju-hyun better known by her stage name Irene, is a South Korean singer, television host and actress. She is a member and leader of the South Korean girl group Red Velvet. She was part of SM Rookies.</p>
    <ul>
      <li><b>Height: </b>5'4" (161cm)</li>
      <li><b>Date of Birth: </b>28 years old, born March 29, 1991</li>
      <li><b>Blood Type: </b>A</li>
      <li><b>Position: </b>eader, Main Rapper, Lead Dancer, Vocalist, Visual, Face of the group</li>
    </ul>

    <h4><b>Wendy</b></h4>
    <img src="/assets/images/music/rv/wendy.jpeg">
    <p>Wendy Son (Korean name: Son Seung-wan; Hangul:손승 완; born February 21, 1994) is a Korean-Canadian singer and dancer. She is the main vocalist of the South-Korean girl group Red Velvet.</p>
    <ul>
      <li><b>Height: </b>5'3" (160cm)</li>
      <li><b>Date of Birth: </b>25 years old, born February 21, 1994</li>
      <li><b>Blood Type: </b>O</li>
      <li><b>Position: </b>Main vocalist, sub-rapper</li>
    </ul>

    <h4><b>Yeri</b></h4>
    <img src="/assets/images/music/rv/yeri.jpeg">
    <p>Kim Yerim (Hangul: 김예림, born March 5, 1999), also known as Yeri, is a South-Korean singer and dancer. She is the maknae, vocalist and sub rapper of the South- Korean girl group Red Velvet and was introduced to the group as a new addition on March 10, 2015.</p>
    <ul>
      <li><b>Height: </b>5'2" (158cm)</li>
      <li><b>Date of Birth: </b>20 years old, born March 5, 1999</li>
      <li><b>Blood Type: </b>O</li>
      <li><b>Position: </b>Vocalist, Rapper, Maknae</li>
    </ul>

    <h4><b>Joy</b></h4>
    <img src="/assets/images/music/rv/joy.jpeg">
    <p>Park Sooyoung (Hangul:박수영; born September 3, 1996), also known as Joy, is a South-Korean singer and dancer. She is the lead rapper and vocalist of South-Korean girl group, Red Velvet.</p>
    <ul>
      <li><b>Height: </b>5'6" (167cm)</li>
      <li><b>Date of Birth: </b>22 years old, born September 3, 1996</li>
      <li><b>Blood Type: </b>A</li>
      <li><b>Position: </b>Lead rapper, lead vocalist</li>
    </ul>
  </div>
  <ion-list></ion-list>

  <h4>Comments</h4>
  <ion-textarea [(ngModel)]="message" type="text" placeholder="Leave a Comment... "></ion-textarea>
  <ion-button color="light" float-right round (click)="sendComment()">Send</ion-button>
  <div class="comment-box">
    <ion-card *ngFor="let comment of comments">
      <ion-card-content>
        <strong>{{comment.message}}</strong>
        <p>Anonymous</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>