<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start" (click)="goHomePop()">
      <ion-button>
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>K-Pop</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark" padding>
  <h1><b>BLACKPINK</b></h1>
  <img src="/assets/images/music/bp/bpmain.jpeg">
  <h2><b>Introduction to BLACKPINK</b></h2>
  <div class="ion-text-left">
    <p>
      BLACKPINK (블랙핑크; stylized as BLΛƆKPIИK) is a South Korean girl group formed under YG Entertainment consisting of
      four members Jisoo, Jennie, Lisa, and Rosé. and the first girl group that debuted under the entertainment agency
      in seven years after 2NE1. They debuted on August 8, 2016 with their digital single album "Square One". "Ddu-Du
      Ddu-Du" at the time of its release was the most viewed music video in 24 hours on YouTube, it also is the most
      viewed music video on YouTube by any Kpop group.
    </p>
  </div>
  <ul>
    <li><b>Agency: </b>YG Entertainment</li>
    <li><b>Debut: </b>Aug 8, 2016</li>
    <li><b>Years Active: </b>2016–present</li>
    <li><b>Most Popular Member: </b>Lisa</li>
    <li><b>Fandom: </b>BLINK</li>
  </ul>
  <h2><b>Members</b></h2>
  <div class="ion-text-left">
    <h4><b>Lisa</b></h4>
    <img src="/assets/images/music/bp/lisa.jpeg">
    <p>Lalisa Manoban (ลลิสา มโนบาล), best known for her stage name Lisa, is the Main Dancer, Lead Rapper, Vocalist, and
      Maknae of the Girl Group Blackpink under YG Entertainment. Born in Bangkok Thailand with the name Pranpriya
      Manoban (ปราณปริยา มโนบาล), Lisa always had the passion for dancing even when she was still at a very young age,
      so much that she joined a dance crew which Got7's Bambam is also a part of. In 2010, YG Entertainment held an
      Audition on Thailand in which Lisa was the only one accepted. Through this, Lisa became an official YG trainee.
      Upon training for more than five years in Korea, Lisa was able to debut and went on to become one of the most
      famous female idols of her generation.</p>
    <ul>
      <li><b>Height: </b>5'6" (167cm)</li>
      <li><b>Date of Birth: </b>22 years old, born March 27, 1997</li>
      <li><b>Blood Type: </b>O</li>
      <li><b>Position: </b>Main Dancer, Lead Rapper, Sub Vocalist, Maknae</li>
    </ul>

    <h4><b>Jennie</b></h4>
    <img src="/assets/images/music/bp/jennie.jpeg">
    <p>Kim Jennie (김제니) is the Main Rapper and Vocalist of Blackpink from YG Entertainment. Jennie was born in Anyang
      South Korea but moved to Auckland New Zealand where she lived for more than five years. Jennie trained in YG
      Entertainment for 5 years and 11 months but even as a trainee she was still well-known as she appeared featured as
      a rapper in G-Dragon and Lee Hi's songs, even acting in G-Dragon's music video for "That XX". In 2016, she made
      her official debut as a member of Blackpink and in November 2018, she debuted as a solo artist with the
      chart-topping single "Solo".</p>
    <ul>
      <li><b>Height: </b>5'4" (163cm)</li>
      <li><b>Date of Birth: </b>23 years old, born January 16, 1996</li>
      <li><b>Blood Type: </b>B</li>
      <li><b>Position: </b>Main Rapper, Vocalist</li>
    </ul>

    <h4><b>Jisoo</b></h4>
    <img src="/assets/images/music/bp/jisoo.jpeg">
    <p>Kim Ji Soo (김지수) is the Lead Vocalist and Visual of the girl group BLACKPINK under YG Entertainment. Jisoo was
      born and raised in South Korea but she can speak Japanese and Chinese. Jisoo may be the eldest member of the
      group, but according to Jennie she is the mood maker due to her 4D personality. Before debuting, Jisoo was already
      well-known due to appearing in TV shows and even featuring in the music video of Epik High's Spoiler and
      Hi-Suhyun's I'm Different. In 2016, Jisoo made her official debut with BLACKPINK.</p>
    <ul>
      <li><b>Height: </b>5'4" (162cm)</li>
      <li><b>Date of Birth: </b>24 years old, born January 3, 1995</li>
      <li><b>Blood Type: </b>A</li>
      <li><b>Position: </b>Lead Vocalist, Visual</li>
    </ul>

    <h4><b>Rosé</b></h4>
    <img src="/assets/images/music/bp/rose.jpeg">
    <p>Park Chae Young (박채영), known for her stage name Rosé (로제), is the Main Vocalist and Lead Dancer of YG
      Entertainment's four-member girl group, Blackpink. Rosé was born on February 11, 1997 in Auckland New Zealand but
      she grew up in Melbourne Australia. In 2012 she moved back to Korea after finishing first place in YG's Australia
      Audition. She went on to train for 4 years and 2 months before debuting and becoming one of the most sought after
      idols of her generation.</p>
    <ul>
      <li><b>Height: </b>5'6" (168cm)</li>
      <li><b>Date of Birth: </b>22 years old, born February 11, 1997</li>
      <li><b>Blood Type: </b>B</li>
      <li><b>Position: </b>Main Vocalist, Lead Dancer</li>
    </ul>
  </div>
  <ion-list></ion-list>

  <h4>Comments</h4>
  <ion-textarea [(ngModel)]="message" type="text" placeholder="Leave a Comment... "></ion-textarea>
  <ion-button color="light" float-right round (click)="sendComment()">Send</ion-button>
  <div class="comment-box">
    <ion-card *ngFor="let comment of comments">
      <ion-card-content>
        <strong>{{comment.message}}</strong>
        <p>Anonymous</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>