<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start" (click)="goHomePop()">
      <ion-button>
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>K-Pop</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark" padding>
  <h1><b>Mamamoo</b></h1>
  <img src="/assets/images/music/mm/mm.jpg">
  <h2><b>Introduction to BLACKPINK</b></h2>
  <div class="ion-text-left">
    <p>
        MAMAMOO (마마무) consist of 4 members: Solar, Moonbyul, Wheein and Hwasa. MAMAMOO deuted in 2014, under Rainbow Bridge World (formerly WA Entertainment).
    </p>
  </div>
  <ul>
    <li><b>Agency: </b>Rainbow Bridge World</li>
    <li><b>Debut: </b>Jun 18, 2014</li>
    <li><b>Years Active: </b>2014–present</li>
    <li><b>Most Popular Member: </b>Moonbyul</li>
    <li><b>Fandom: </b>MooMoo</li>
  </ul>
  <h2><b>Members</b></h2>
  <div class="ion-text-left">
    <h4><b>Solar</b></h4>
    <img src="/assets/images/music/mm/solar.jpeg">
    <p>(Kim Yong Sun) Solar is a member of the girl group MAMAMOO. Solar was on “We Got Married” where she was paired with Eric Nam and also appeared on “King of Masked Singer” as Sunflower.</p>
    <ul>
      <li><b>Height: </b>5'4" (163cm)</li>
      <li><b>Date of Birth: </b>28 years old, born February 21, 1991</li>
      <li><b>Position: </b>Leader, Main Vocalist, Visual, Face of the Group</li>
    </ul>

    <h4><b>Wheein</b></h4>
    <img src="/assets/images/music/mm/wheein.jpeg">
    <p>(Jung Whee in) Wheein is a member of the girl group MAMAMOO. Wheein appeared on “King of Masked Singer” as Half moon and she is a former MBK Entertainment trainee.</p>
    <ul>
      <li><b>Height: </b>5'3" (159cm)</li>
      <li><b>Date of Birth: </b>24 years old, born April 17, 1995</li>
      <li><b>Position: </b>Lead Vocalist, Lead Dancer</li>
    </ul>

    <h4><b>Hwasa</b></h4>
    <img src="/assets/images/music/mm/hwasa.jpeg">
    <p>(Ahn Hye Jin) Hwasa is a member of the girl group MAMAMOO. Hwasa appeared on “King of Masked Singer” as Aerobic girl.
      </p>
    <ul>
      <li><b>Height: </b>5'3" (160cm)</li>
      <li><b>Date of Birth: </b>23 years old, born July 23, 1995</li>
      <li><b>Position: </b>Lead Vocalist, Lead Rapper, Maknae</li>
    </ul>

    <h4><b>Moonbyul</b></h4>
    <img src="/assets/images/music/mm/moonbyul.jpeg">
    <p>(Moon Byul Yi) Moonbyul is a member of the girl group MAMAMOO. Moonbyul was, alongside other 6 female idols, in “Idol Drama Operation Team” tv program. They created a 7 members girl group, called Girls Next Door , which debuted on July 14, 2017.</p>
    <ul>
      <li><b>Height: </b>5'5" (165cm)</li>
      <li><b>Date of Birth: </b>26 years old, born December 22, 1992</li>
      <li><b>Position: </b>Main Rapper, Main Dancer, Vocalist</li>
    </ul>
  </div>
  <ion-list></ion-list>

  <h4>Comments</h4>
  <ion-textarea [(ngModel)]="message" type="text" placeholder="Leave a Comment... "></ion-textarea>
  <ion-button color="light" float-right round (click)="sendComment()">Send</ion-button>
  <div class="comment-box">
    <ion-card *ngFor="let comment of comments">
      <ion-card-content>
        <strong>{{comment.message}}</strong>
        <p>Anonymous</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>