<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start" (click)="goHome()">
      <ion-button>
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>K-Drama</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-text>
    <h1><b>The Beauty Inside</b></h1>
  </ion-text>
  <img src="/assets/images/drama/beauty.jpg">
  <h2><b>Profile</b></h2>
  <ul>
    <li>
      <b>Drama: </b>The Beauty Inside</li>
    <li>
      <b>Revised Romanization: </b>Byooti Insaideu</li>
    <li>
      <b>Hangul: </b>뷰티 인사이드</li>
    <li>
      <b>Director: </b>Song Hyun-Wook</li>
    <li>
      <b>Writer: </b>Im Meari</li>
    <li>
      <b>Network: </b>JTBC</li>
    <li>
      <b>Episodes: </b>16</li>
    <li>
      <b>Release Date: </b>October 1 - November 20, 2018</li>
  </ul>
  <ion-text>
    <h2><b>Synopsis by KOREABOO</b></h2>
    <div class="ion-text-left">
      <p>A woman changes her appearance whenever a certain supernatural phenomenon occurs. A man falls in love with this
        woman.
      </p>
      <p>Han Se-Kye (Seo Hyun-Jin) is a top actress. She is known as a troublemaker and the object of many rumors. Her
        life is a mystery, but, in reality, she suffers from an unusual phenomenon. At a certain point every month, her
        appearance changes to a different person. She lives one week out of every month with a different appearance. Han
        Se-Kye meets Seo Do-Jae (Lee Min-Ki). Seo Do-Jae is an executive at an airline company. He seems perfect with an
        attractive appearance and possessing smarts, but he suffers from an inability to recognize faces. He hides this
        disability and tries hard to memorize people by their habits and mannerisms. The only person's face that he is
        able to recognize is Han Se-Kye. By meeting her, his life changes.</p>
    </div>
  </ion-text>
  <ion-text>
    <h2><b>Cast</b></h2>
    <ul>
      <p>Seo Hyun-Jin as Han Se-Kye</p>
      <p>Lee Min-Ki as Seo Do-Jae</p>
      <p>Lee Da-Hee-Won as Kang Sa-Ra</p>
      <p>Ahn Jae-Hyeon as Ryu Eun-Ho</p>
      <p>Lee Tae-Ri as Jung Joo-Hwan</p>
      <p>Moon Ji-In as Yoo Woo-Mi</p>
    </ul>
  </ion-text>
</ion-content>