<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      K-Drama
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="dark">
  <ion-card color="light" (click)="goKdrama()">
    <ion-card-header>
      <ion-card-subtitle>Korean Drama</ion-card-subtitle>
      <ion-card-title>Welcome to Waikiki</ion-card-title>
      <img src="/assets/images/drama/waikiki.jpg">
    </ion-card-header>
    <ion-card-content>
      <div class="ion-text-left">
        These 3 men run the guest house Waikiki in Itaewon, South Korea. Their guest house is facing bankruptcy and then
        a mysterious baby and single mother appear at Waikiki.
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card color="light" (click)="goKdrama1()">
    <ion-card-header>
      <ion-card-subtitle>Korean Drama</ion-card-subtitle>
      <ion-card-title>The Beauty Inside</ion-card-title>
      <img src="/assets/images/drama/beauty.jpg">
    </ion-card-header>
    <ion-card-content>
      <div class="ion-text-left">
        A woman changes her appearance whenever a certain supernatural phenomenon occurs. A man falls in love with this
        woman.
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card color="light" (click)="goKdrama2()">
    <ion-card-header>
      <ion-card-subtitle>Korean Drama</ion-card-subtitle>
      <ion-card-title>Touch Your Heart</ion-card-title>
      <img src="/assets/images/drama/touch.jpg">
    </ion-card-header>
    <ion-card-content>
      <div class="ion-text-left">
        Oh Yoon-Seo is a popular actress. She is famous for her beautiful appearance, but her acting is bad. She gets
        involved in a scandal with the son from a chaebol family. Her acting career declines precipitously.
      </div>
    </ion-card-content>
  </ion-card>


</ion-content>